/*------------------------------------*\
  #BASE
\*------------------------------------*/

* {
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

html {
    font-family: 'Inter', sans-serif;
}

body, h1, p, ul, button, input {
    margin: 0;
    padding: 0;
    border: none;
}

ul {
    list-style-type: none;
}

button, input {
    font-size: 100%;
}

/* Turn off number input arrows */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}



/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/

.title {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1;
}

.subtitle {
    font-size: 1.25rem;
}

.accent-text {
    color: #4ADF86;
    display: block;
}

label {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
}



/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

button {
    display: flex;
    align-items: center;
    gap: 16px;
    background: #10B981;
}

button:hover,
button:active {
    opacity: 0.8;
}

button#generate {
    padding: 12px 20px;
    border-radius: 6px;
}



.length-control {
    height: 24px;
    display: flex;
}

.length-control > input {
    height: 100%;
    max-width: 3em;
    text-align: center;
    background: #273549;
}

.length-control > input:focus {
    background: rgba(0,0,0,0.1);
    /*outline: none;*/
}

.length-control > button {
    padding: 0 12px;
    font-weight: 500;
}

.length-control > button#decrement {
    border-radius: 12px 0 0 12px;
}

.length-control > button#increment {
    border-radius: 0 12px 12px 0;
}



.pop-up {
    position: absolute;
    background: #10B981;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.6s;
}



/*------------------------------------*\
  #LAYOUT
\*------------------------------------*/

body {
    position: relative;
    background: #1C1C1C;
    min-height: 100vh;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 600px;
    padding: 118px 52px 46px 52px;
    background: #1F2937;
}

.subtitle {
    margin-top: 16px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    margin-top: 51px;
    margin-bottom: 35px;
}

@media (min-width: 484px) {
    .controls {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}

.passwords {
    border-top: 1px solid #2F3E53;
    padding-top: 35px;
    margin-top: 35px;
}

.password-list {
    color: #55F991;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: 24px 27px;
}

.password-list > li,
.password {
    border-radius: 6px;
    background: #273549;
}

.password-list > li {
    height: 40px;
    background-image: url('img/ellipsis.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.password {
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
